@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    display: flex;
    flex-wrap: wrap;

}
.bg-back{
    background-color: rgba(33, 33, 33, 0.659);
}
.bgHover{
    background-color: rgba(148, 147, 147, 0.659);
}
.border-color{
    border-color:rgba(63, 63, 63, 0.298) ;
}